In [ ]:
import pandas as pd
df=pd.DataFrame({
"name":['apple','banana'],"purchasePrice":[100,200],"quantity":[2,5]
})

     name  quantity
0   apple         2
1  banana         5